<?xml version = "1.0"?>
<ruleset>
	<name>Dungeons and Dragons 5e</name><!--Given name for user-->
	<component path = "BarbarianMathData/Class_Barbarian.xml"></component> 

    <component path = "BarbarianMathData/Modifiers_Weapons.xml"></component>

<!--the filenames of the basic system should be added here.-->
</ruleset>

